<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gerenciador de animais - Caio Henrique</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Anuphan&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital@0;1&display=swap"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="/img/icon.ico" type="image/x-icon">
  </head>
  <body>
    <header>
      <div class="container">
        <h1>Gerenciador de animais por - <span>Caio Henrique</span></h1>
      </div>

      <nav>

      </nav>
    </header>
    {{{body}}}
    <footer>
        <p>Gerenciador de animais desenvolvido com <span>Node.JS</span> , por Caio Henrique &copy; Todos os direitos reservados. </p>
    </footer>
  </body>
</html>