<div class="box-formulario">
  <div class="formulario">
    <div class="title-form">
      <h1>Cadastre um animal</h1>
    </div>
    <form action="/animals/save" method="post">
      <span>
        <input
          type="text"
          class="input-slide"
          name="animalname"
          placeholder="Animal"
          autocomplete="off"
          required=""
        />
        <label for="animalname"></label>
      </span>
      <span>
        <input
          type="text"
          class="input-slide"
          name="raceanimal"
          placeholder="Raça"
          autocomplete="off"
          required=""
        />
        <label for="raceanimal"> </label>
      </span>
      <span>
        <input
          type="text"
          class="input-slide"
          name="ownername"
          placeholder="Proprietário do animal"
          autocomplete="off"
          required=""
        />
        <label for="owneranimal"> </label>
      </span>
      <span>
        <textarea
          type="text"
          class="textarea-slide"
          name="description"
          rows="3"
          placeholder="Descrição"
          autocomplete="off"
          required=""
        ></textarea>
        <label for="description"> </label>
      </span>
      <div class="box-btn">

        <button type="submit" class="btn-envia zoom-shadow">
          Cadastrar
        </button>
      </div>
    </form>
  </div>
</div><!--Box Formulario-->