<div class="container-home">
  <h1>Bem-vindo ao gerenciador de animais!</h1>
  <h3>O que deseja fazer ?</h3>
  <a href=""> <span>Adicionar animais</span> </a>
  <a href=""><span>Ver animais</span></a>
</div>