* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Open Sans";
}

body {
  background-color: #d9dfdf;
}

header {
  padding: 0 16px;
  background-image: linear-gradient(to right, #36a3b5, #2f94a4, #236d79);
  height: 13%;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
}

header nav {
  flex-grow: 1;
  display: flex;
  justify-content: end;
}

footer {
  height: 10%;
  background-color: #36a3b5;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-weight: 500;
}

footer p span a{
  text-decoration: none;
  color: rgb(12, 131, 12);
  border-bottom: 1px solid;
  font-weight: bold;
  transition-duration: .5s;
}

footer p span a:hover{
  color: lightgreen;
}

.container h1 {
  font-size: 27px;
  border-bottom: 1.5px solid;
  color: #3c3c3c;
  margin-left: 10px;
}

.container h1 span {
  color: #b25413;
  border-bottom: 1.5px solid;
}

.container-home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  height: 60%;
}

.container-home h1 {
  font-size: 24px;
  padding: 10px;
  border: 2px solid #36a3b5;
  border-radius: 8px;
}

.container-home h3 {
  font-size: 18px;
  padding: 10px;
  border-top: none;
  border-radius: 4px;
  margin-top: 8px;
}

.container-home a {
  margin-top: 20px;
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  border-radius: 4px;
  text-align: center;
  position: relative;
  transition: all 0.35s;
  font-weight: bold;
}

.container-home a span {
  position: relative;
  z-index: 2;
}

.container-home a:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #36a3b5;
  transition: all 0.35s;
}

.container-home a:hover {
  color: #fff;
}

.container-home a:hover:after {
  width: 100%;
}

.title-form h1 {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.5em;
  position: relative;
  text-align: left;
  color: #4c4e4e;
  margin-left: 10px;
  text-align: center;
  border-bottom: 1.5px solid #4c4e4e;
}
.box-formulario {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: baseline;
}
.formulario {
  width: 80%;
  padding: 0 5%;
  text-align: center;
  margin-top: 10px;
}
.formulario span {
  position: relative;
  display: flex;
  margin: 15px 10px;
}
/*input Animado*/
.input-slide {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 10px 0 10px 75px;
  font-family: "Open Sans", sans;
  font-size: 23px;
  font-weight: 400;
  color: #d2d2d2;
  background: #ffffff;
  border: 0;
  border-radius: 3px;
  outline: 0;
  transition: all 0.3s ease-in-out;
}
.input-slide::-webkit-input-placeholder {
  color: #4c4e4e;
  font-weight: 300;
}
.input-slide + label {
  display: inline-block;
  position: absolute;
  transform: translateX(0);
  top: 0;
  left: 0;
  bottom: 0;
  padding: 7px 12px;
  font-size: 33px;
  font-weight: 700;
  text-transform: uppercase;
  border-right: 1.5px lightblue solid;
  background: transparent;
  color: #d2d2d2;
  text-align: left;
  transition: all 0.3s ease-in-out, color 0.3s ease-out;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  overflow: hidden;
}
.input-slide + label:after {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  bottom: 0;
  width: 100%;
  background: #4c4e4e;
  z-index: -1;
  transform: translate(0);
  transition: all 0.3s ease-in-out;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.input-slide:focus,
.input-slidev:active {
  color: #4c4e4e;
  background: #fff;
  padding: 10px 0 10px 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.input-slide:focus::-webkit-input-placeholder,
.input-slide:active::-webkit-input-placeholder {
  color: #aaa;
}
.input-slide:focus + label,
.input-slide:active + label {
  color: #fff;
  transform: translateX(-100%);
}
.input-slide:focus + label:after,
.input-slide:active + label:after {
  background: #4c4e4e;
  transform: translate(100%);
}
/*TextArea*/
.textarea-slide {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 10px 0 10px 75px;
  font-family: "Open Sans", sans;
  font-size: 23px;
  font-weight: 400;
  color: #d2d2d2;
  background: #ffffff;
  border: 0;
  resize: none;
  border-radius: 3px;
  outline: 0;
  transition: all 0.3s ease-in-out;
}
.textarea-slide::-webkit-input-placeholder {
  color: #4c4e4e;
  font-weight: 300;
}
.textarea-slide + label {
  display: inline-block;
  position: absolute;
  transform: translateX(0);
  top: 0;
  left: 0;
  bottom: 0;
  padding: 7px 12px;
  font-size: 33px;
  font-weight: 700;
  text-transform: uppercase;
  border-right: 1.5px lightblue solid;
  background: transparent;
  color: #d2d2d2;
  text-align: left;
  transition: all 0.3s ease-in-out, color 0.3s ease-out;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  overflow: hidden;
}
.textarea-slide + label:after {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  bottom: 0;
  width: 100%;
  background: #4c4e4e;
  z-index: -1;
  transform: translate(0);
  transition: all 0.3s ease-in-out;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.textarea-slide:focus,
.textarea-slide:active {
  color: #4c4e4e;
  background: #fff;
  padding: 10px 0 10px 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.textarea-slide:focus::-webkit-input-placeholder,
.textarea-slide:active::-webkit-input-placeholder {
  color: #aaa;
}
.textarea-slide:focus + label,
.textarea-slide:active + label {
  color: #fff;
  transform: translateX(-100%);
}
.textarea-slide:focus + label:after,
.textarea-slide:active + label:after {
  background: #4c4e4e;
  transform: translate(100%);
}
/*Botão*/
.box-btn {
  width: 100%;
  float: left;
}
.btn-envia {
  padding: 1em 2em;
  cursor: pointer;
  border: none;
  background-color: #36a3b5;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1em;
  color: #fff;
  border-radius: 3px;
  width: 100%;
}
.zoom-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.zoom-shadow:hover,
.zoom-shadow:focus,
.zoom-shadow:active {
  box-shadow: 0 13px 8px -8px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

nav li:after {
  color: #f0f0f0;
  content: "|";
  position: absolute;
  top: 2.3em;
  right: 0;
  z-index: 1;
  transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  display: none;
}
nav li:last-child:after {
  content: none;
}
nav a {
  color: #fff;
  position: relative;
  display: inline-block;
  text-decoration: none;
  transition: 0.3s;
  line-height: 2em;
  padding: 2em;
}
nav li.ativo > a,
nav li > a:hover {
  background-color: transparent;
  color: #111;
}
nav li > a:after {
  content: "";
  position: absolute;
  bottom: 1.5em;
  left: 15%;
  width: 70%;
  height: 4px;
  transform: scaleX(0);
  background-color: #fff;
  transition: all 0.2s ease;
  opacity: 0.6;
}
nav li.ativo > a:after,
nav li > a:hover::after {
  transform: scaleX(1);
}
/*960PX BREAKPOINT*/
@media (min-width: 60em) {
  nav li {
    width: auto;
    display: inline;
  }
  nav li:after {
    display: block;
  }
}

.container-animals {
  width: 70%;
  background-color: #f6f5f5;
  margin: 0 auto;
  margin-top: 20px;
  box-shadow: 10px 5px 5px rgb(128, 126, 126);
  padding-bottom: 2em;
  margin-bottom: 80px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container-animals h1 {
  width: 100%;
  text-align: center;
  background-color: darkgray;
  padding: 10px 0;
  border-radius: 4px;
  color: #fff;
}

.container-animals h2 {
  font-size: 1.2em;
  margin-top: 5px;
  padding: 10px;
  font-weight: 600;
}

.container-animals h5 {
  font-weight: 600;
  text-align: center;
}

.container-animals h2 span {
  color: #b25413;
  border-bottom: 1px solid;
}

.container-animals h5 span {
  color: darkblue;
  border-bottom: 1px solid;
}

.container-animals a {
  text-decoration: none;
  color: #333;
  border: 1.5px solid black;
  display: block;
  text-align: center;
  padding: 4px 0;
  margin-top: 15px;
  font-size: 0.9em;
  background-color: darkgray;
  color: #fff;
  border-radius: 6px;
  transition-duration: 0.5s;
  font-weight: 600;
}

.container-animals a:hover {
  color: black;
  background-color: lightgray;
}
